@font-face {
  font-family: "cb-font-1";
  src: url("./fonts/a-mun-celestial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cb-font-2";
  src: url("./fonts/Celestial-Being-Font-Patch.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-cb {
  font-family: "cb-font-2", sans-serif;
}

.font-a-mun {
  font-family: "cb-font-1", sans-serif;
}

.box-shadow {
  box-shadow: -10px 8px rgba(70, 70, 70, 0.5);
}

.fat-top-left {
  border-top-width: medium;
  border-left-width: medium;
}

.white-top {
  border-top-width: medium;
  border-left: medium;
  border: white;
}

@keyframes blink-text {
  0%,
  100% {
    color: rgb(148, 148, 148);
  }
  50% {
    color: #1a1b1d; /* Tailwind gray-400 */
  }
}

@keyframes box-horizontal {
  to {
    width: 0px;
  }
}

.standby {
  animation: maxOff 1s ease infinite alternate;
}

.blink-text {
  animation: blink-text 2.5s infinite;
}

.none {
  display: none;
}
